develop a service.

At Avalara we have an internal service that detects when an EC2 instance is unhealthy. We use SignalFX for alert management. Using a language of your choice, write a service that can accept a POST request from our internal service and translate this into a new SignalFX event.

Your service will need to meet the following requirements:

Correctly accept a POST request from our internal health service
Correctly POST a new event to SignalFX (https://developers.signalfx.com/ingest_data_reference.html)
Run as a Docker container
We like tests, so should you
Your project will need to provide a build tool (Bash, Makefile, etc) to do the following:
docker: build the container
docker-run: build the container and run the service
docker-shell: build the container and run a shell inside it
docker-test: build the container and run any test suite you have
The expected POST request from our internal service

Sample POST Request
{
    "id": "i-0085a516efcc628d6",
    "description": "This server is unhealthy"
}
Once you have completed the exercise, please zip up your git repository and upload it to the google drive folder that was sent to you via email..

Please do not put this into a public git repo
*** You will be sent a link from Google Drive, where you can upload your exercise.  **please be sure this email doesn't get filtered from your Inbox.  It will come from Chris Whitaker.

*** Please have this exercise completed and returned by 10/21/19.

*** Lastly, when you upload your exercise into Google Docs, shoot me an email so that I can follow up in a timely manner with the hiring manager. ***



Let me know if you have any questions whatsoever.


